In [144]:
import pandas as pd

In [145]:
population = pd.Series([9668465,3391946,2942828,1450062],
                       index = ['서울','부산','인천','광주'])
population

서울    9668465
부산    3391946
인천    2942828
광주    1450062
dtype: int64

In [146]:
print(population.index)
print(population.dtype)
population.values

Index(['서울', '부산', '인천', '광주'], dtype='object')
int64

array([9668465, 3391946, 2942828, 1450062], dtype=int64)

In [147]:
population.name = '인구'
population.index.name = '도시'
population

도시
서울    9668465
부산    3391946
인천    2942828
광주    1450062
Name: 인구, dtype: int64

In [148]:
population/10000

도시
서울    966.8465
부산    339.1946
인천    294.2828
광주    145.0062
Name: 인구, dtype: float64

In [149]:
population[1],population['부산']

(3391946, 3391946)

In [150]:
population[[0,3,1]]

도시
서울    9668465
광주    1450062
부산    3391946
Name: 인구, dtype: int64

In [151]:
population[['서울','광주','부산']]

도시
서울    9668465
광주    1450062
부산    3391946
Name: 인구, dtype: int64

In [152]:
population > 2000000

도시
서울     True
부산     True
인천     True
광주    False
Name: 인구, dtype: bool

In [153]:
population[population > 2000000]

도시
서울    9668465
부산    3391946
인천    2942828
Name: 인구, dtype: int64

In [154]:
print(population[population >= 3000000])
print(population[(population <= 5000000) & (population >= 2500000)])

도시
서울    9668465
부산    3391946
Name: 인구, dtype: int64
도시
부산    3391946
인천    2942828
Name: 인구, dtype: int64

In [155]:
population[1:3]

도시
부산    3391946
인천    2942828
Name: 인구, dtype: int64

In [156]:
population['부산':'인천']

도시
부산    3391946
인천    2942828
Name: 인구, dtype: int64

In [157]:
data = {'피카츄' : 9631, '꼬부기' : 3393, '파이리' : 1490, '이상해씨' : 2632}
pokemon = pd.Series(data)
pokemon

피카츄     9631
꼬부기     3393
파이리     1490
이상해씨    2632
dtype: int64

In [158]:
data2 = {'피카츄' : 9904, '꼬부기' : 3448, '이브이' : 2466, '뮤' : 2890}
pokemon_up = pd.Series(data2)
pokemon_up

피카츄    9904
꼬부기    3448
이브이    2466
뮤      2890
dtype: int64

In [159]:
attack = pokemon_up - pokemon
attack.notnull()

꼬부기      True
뮤       False
이브이     False
이상해씨    False
파이리     False
피카츄      True
dtype: bool

In [160]:
print(attack[attack.notnull()])
attack.dropna()

꼬부기     55.0
피카츄    273.0
dtype: float64

꼬부기     55.0
피카츄    273.0
dtype: float64

In [161]:
rp = ((pokemon_up - pokemon) / pokemon) *100
rp.dropna()

꼬부기    1.620984
피카츄    2.834597
dtype: float64

In [162]:
print(attack)
attack['파이리'] = 1616
attack['리자몽'] = 8888
del attack['이상해씨']
attack

꼬부기      55.0
뮤         NaN
이브이       NaN
이상해씨      NaN
파이리       NaN
피카츄     273.0
dtype: float64

꼬부기      55.0
뮤         NaN
이브이       NaN
파이리    1616.0
피카츄     273.0
리자몽    8888.0
dtype: float64

In [169]:
print(attack.isnull())
attack[attack.isnull()]

꼬부기    False
뮤       True
이브이     True
파이리    False
피카츄    False
리자몽    False
dtype: bool

뮤     NaN
이브이   NaN
dtype: float64