In [1]:
import pandas as pd

In [4]:
population = pd.Series([9668465,3391946,2942828,1450062],
                       index = ['서울','부산','인천','광주'])
population

서울    9668465
부산    3391946
인천    2942828
광주    1450062
dtype: int64

In [10]:
print(population.index)
print(population.dtype)
population.values

Index(['서울', '부산', '인천', '광주'], dtype='object')
int64

array([9668465, 3391946, 2942828, 1450062], dtype=int64)

In [12]:
population.name = '인구'
population.index.name = '도시'
population

도시
서울    9668465
부산    3391946
인천    2942828
광주    1450062
Name: 인구, dtype: int64

In [14]:
population/10000

도시
서울    966.8465
부산    339.1946
인천    294.2828
광주    145.0062
Name: 인구, dtype: float64

In [16]:
population[1],population['부산']

(3391946, 3391946)