  - 딕셔너리명 ={Key : Value, ...}
  - Key 에는 변하지 않는 값을 사용하고,
  - Value에는 변하는 값과 변하지 않는 값 모두 사용할 수 있다.
  - Key 는 중복 X, 리스트 X

In [1]:
csb = {"이름" : "홍길동", "나이" : 20, "키" : 168}

class1_4={"이름" : ["홍길동", "김철수", "최영희"],
          "나이" : [20,21,22],
          "키" : [168, 177, 204]}
class1_4

{'이름': ['홍길동', '김철수', '최영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [2]:
class1_4["이름"]

['홍길동', '김철수', '최영희']

In [3]:
class1_4["발 사이즈"] = [290, 275, 240]
class1_4

{'이름': ['홍길동', '김철수', '최영희'],
 '나이': [20, 21, 22],
 '키': [168, 177, 204],
 '발 사이즈': [290, 275, 240]}

In [4]:
del class1_4["발 사이즈"]
class1_4

{'이름': ['홍길동', '김철수', '최영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [5]:
class1_4.keys()

dict_keys(['이름', '나이', '키'])

In [6]:
class1_4.values()

dict_values([['홍길동', '김철수', '최영희'], [20, 21, 22], [168, 177, 204]])

In [7]:
for i in class1_4:
    print(i)

이름
나이
키

In [8]:
"이름" in class1_4

True

In [9]:
"홍길동" in class1_4

False

In [14]:
"홍길동" in class1_4["이름"]

True

In [12]:
class1_4.keys()

dict_keys(['이름', '나이', '키'])

In [13]:
class1_4.values()

dict_values([['홍길동', '김철수', '최영희'], [20, 21, 22], [168, 177, 204]])

In [55]:
csb = {"이름" : ["홍길동", "임꺽정", "장길산"],
      "나이" : [20, 35, 52],
      "키" : [160, 200, 180],
      "발 사이즈" : [260,290,270]}

c = []
l = len(csb["이름"])

for i in list(csb.keys())[1:]:
    a = 0
    for j in (range(l)):
        a = a + csb[i][j]
    c.append(a/l)


csb["평균들"] = c
csb

{'이름': ['홍길동', '임꺽정', '장길산'],
 '나이': [20, 35, 52],
 '키': [160, 200, 180],
 '발 사이즈': [260, 290, 270],
 '평균들': [35.666666666666664, 180.0, 273.3333333333333]}

  - 딕셔너리의 각 과일의 가격을 10% 올려주세요.

In [1]:
gg = {"사과" : 800, "바나나" : 1000, "포도" : 800}

for i in gg:
    
    gg[i] = int(gg[i]*1.1)

gg

{'사과': 880, '바나나': 1100, '포도': 880}

 - 전국 사과 가격의 평균을 구해주세요.

In [19]:
ggg = {"서울점" : {"사과" : 800, "바나나" : 1000, "포도" : 800},
       "부산점" : {"사과" : 700, "바나나" : 900, "포도" : 900},
       "대구점" : {"사과" : 750, "바나나" : 800, "포도" : 1000}}
a=0

for i in ggg:
    
    a = a + ggg[i]["사과"]

# print(a/len(ggg.keys()))
print(a/len(ggg))

750.0

## class1_4의 "이름" key에 할당된 value들을 전부 성을 뺀 이름들로 출력하고 싶습니다.
 - 홍길동 > 길동
 - 김철수 > 철수
 - 김영희 > 영희

In [36]:
class1_4={"이름" : ["홍길동", "김철수", "최영희"],
          "나이" : [20,21,22],
          "키" : [168, 177, 204]}

new_name = []
for i in class1_4["이름"]:
    new_name.append(i[1:])
class1_4["이름"] = new_name
class1_4

{'이름': ['길동', '철수', '영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [37]:
new_name

['길동', '철수', '영희']

 - 여러 학생의 성적 점수가 다음과 같은 Dictionary로 구성되어 있다.

In [127]:
scores = {'홍길동':{'수학':99,'영어':80,'국어':75},
          '김미정':{'영어':67,'국어':87,'수학':55},
          '정수진':{'수학':67,'국어':41,'영어':23}}

 - 이 때, 학생들의 평균을 저장하는 새로운 항목을 추가하고 싶다.
 - scores에 학생들의 수학, 영어, 국어 평균 성적을 기록한 "성적"정보를 추가해주세요.

In [122]:
eng = 0
meth = 0
kor = 0

n_m=1

scores["평균점수"] ={"국어" : 0, "영어" : 0, "수학" : 0}

for i in scores:
    for j in scores[i]:
        if j == "수학":
            meth += scores[i][j]
            scores["평균점수"][j] = meth/n_m
            n_m += 1
        if j == "영어":
            eng += scores[i][j]
#             scores["평균점수"][j] = 
        if j == "국어":
            kor += scores[i][j]
#             scores["평균점수"][j] = 
        

scores

{'홍길동': {'수학': 99, '영어': 80, '국어': 75},
 '김미정': {'영어': 67, '국어': 87, '수학': 55},
 '정수진': {'수학': 67, '국어': 41, '영어': 23},
 '평균점수': {'국어': 0, '영어': 0, '수학': 73.66666666666667}}

In [123]:
eng = 0
math = 0
kor = 0
for i in scores:
    math = math + scores[i]["수학"]
    eng = eng + scores[i]["영어"]
    kor = kor + scores[i]["국어"]
    
scores["평균점수"] = {"국어" : kor/len(scores), "영어" : eng/len(scores), "수학" : meth/len(scores)}

scores

{'홍길동': {'수학': 99, '영어': 80, '국어': 75},
 '김미정': {'영어': 67, '국어': 87, '수학': 55},
 '정수진': {'수학': 67, '국어': 41, '영어': 23},
 '평균점수': {'국어': 50.75, '영어': 42.5, '수학': 73.66666666666667}}

In [138]:
dirty = 73.666666666

round(dirty, 2)

73.67

In [140]:
import math

math.floor(dirty)

73

In [131]:
math.ceil(dirty)

74

https://tech.kakao.com/2021/01/25/2021-kakao-recruitment-round-1/

In [3]:
new_id = input("아이디를 입력해 주세요: ")


#1
new_id = new_id.lower()


#2

q2 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p' ,'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "0",  "-", "_", "."]


for i in new_id:
    if i not in q2:
        new_id = new_id.replace(i,"")
        
#3
while (".." in new_id):

    new_id = new_id.replace("..",".")

#4

new_id = new_id.strip(".")

#5

if new_id == "":

    new_id = "a"

#6

# if len(new_id) >= 16:
    
#     a = new_id[15:]
    
#     new_id = new_id.rstrip(a)

new_id = new_id[0:15]

new_id = new_id.rstrip(".")

#7

# for j in new_id:
        
#     lastw = j

# while len(new_id) < 3:
    
#     new_id = new_id + lastw

while len(new_id) < 3:
    
    lastw = new_id[len(new_id)-1]
    
    new_id = new_id + lastw
    
print(new_id)

아이디를 입력해 주세요: 1(1
111

4