In [12]:
int(2/2)

1

# 지수연산

In [13]:
3 ** 3

27

# 몫 연산, 나머지 연산

In [14]:
7//3

2

In [15]:
7%3

1

In [16]:
"안녕" + "하세요."

'안녕하세요.'

In [17]:
"안녕" * 3

'안녕안녕안녕'

In [18]:
a = int(input("정수 "))

정수 1

In [19]:
a

1

# 시간 파싱하기

 - "2022년 8월 10일 14시 32분 10초"

In [11]:
import datetime
datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

'2022-08-10 14:54:26'

In [9]:
now = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

year = now[:4]
month = now[5:7]
day = now[8:10]
hour = now[11:13]
minute = now[14:16]
second = now[17:]

print(f"{year}년 {month}월 {day}일 {hour}시 {minute}분 {second}초")

NameError: name 'datetime' is not defined

 - input 함수로 초 단위의 시간을 받습니다.
 - 그 시간을 시간, 분, 초로 나누어서 출력합니다.
 - 예시 3653 -> 1시간 0분 53초

In [ ]:
time = int(input())

second = time % 60

mi0 = time // 60

mi1 = mi0 % 60

hour = mi0 // 60

print(f"{hour}시간 {mi1}분 {second}초")

In [21]:
time = int(input())

hour = time//3600
minute = time%3600//60
second = time %60

print(f"{hour}시 {minute}분 {second}초")

3000000
833시 20분 0초

In [25]:
num = 3
num +=3
num

6

In [26]:
1 < 2

True

In [28]:
type(1 == 2)

bool

In [29]:
True + 1

2

In [30]:
1.0 == 1

True

In [35]:
num = int(input("정수: "))

num == 0 or num == 1

정수: 1

True

 - input 함수로 num에 임의의 정수를 입력받습니다.
 - 입력된 수가 2의 배수이자 3의 배수이면 True, 그렇지 않으면 False를 출력합니다.
 - 입력된 수가 2의 배수이거나 3의 배수이면 True, 그렇지 않으면 False를 출력합니다.

In [37]:
num = int(input("정수 : "))

print(num%2 == 0 and num%3 == 0)

print(num%2 == 0 or num%3 ==0)

정수 : 4
False
True