In [200]:
import re
import pandas as pd
from collections import Counter

In [137]:
asd = pd.read_csv('storeTitle.csv', encoding='utf-8')
len(asd)

500

In [138]:
qwe=[]
for i in range(len(asd)):
    qwe.append(asd['상호명'][i])

In [195]:
from asyncio.windows_events import NULL


a = re.compile("\s.+점")

# for i in range(len(qwe)):
#     try:
#         qwe[i] = qwe[i].replace(a.findall(f"{qwe[i]}")[0],'')
#     except:
#         pass

qwe_r =[]

for i in range(len(qwe)):
    qwe_r.append(a.findall(f"{qwe[i]}"))
    
    if a.findall(f"{qwe[i]}") ==[]:
        qwe_r[i] = ['']

for i in range(len(qwe)):   
    qwe[i] = qwe[i].replace(qwe_r[i][0],'')

In [243]:
Counter(qwe).most_common(20)

[('스타벅스', 6),
 ('투썸플레이스', 4),
 ('원조부안집', 2),
 ('비엔나커피하우스', 2),
 ('태양커피', 2),
 ('크래프트한스', 2),
 ('이고집쭈꾸미', 2),
 ('오늘와인한잔', 2),
 ('남오토코', 2),
 ('파리바게뜨', 2),
 ('매드포갈릭', 2),
 ('애플하우스 이수', 1),
 ('세녹', 1),
 ('스시로로', 1),
 ('방배김밥', 1),
 ('전주전집', 1),
 ('이수통닭', 1),
 ('소담촌', 1),
 ('호우양꼬치', 1),
 ('호요', 1)]

In [246]:
qwe_df = pd.DataFrame(qwe)
print(
qwe_df [qwe_df[0] == '스타벅스'],qwe_df [qwe_df[0] == '투썸플레이스'],qwe_df [qwe_df[0] == '원조부안집'],
qwe_df [qwe_df[0] == '비엔나커피하우스'],qwe_df [qwe_df[0] == '태양커피'],qwe_df [qwe_df[0] == '크래프트한스'],
qwe_df [qwe_df[0] == '이고집쭈꾸미'],qwe_df [qwe_df[0] == '오늘와인한잔'],qwe_df [qwe_df[0] == '남오토코'],
qwe_df [qwe_df[0] == '파리바게뜨'],qwe_df [qwe_df[0] == '매드포갈릭'])

        0
36   스타벅스
98   스타벅스
172  스타벅스
197  스타벅스
310  스타벅스
473  스타벅스           0
199  투썸플레이스
207  투썸플레이스
455  투썸플레이스
492  투썸플레이스          0
1    원조부안집
338  원조부안집             0
17   비엔나커피하우스
372  비엔나커피하우스        0
39  태양커피
63  태양커피           0
84   크래프트한스
304  크래프트한스           0
118  이고집쭈꾸미
420  이고집쭈꾸미           0
190  오늘와인한잔
220  오늘와인한잔         0
285  남오토코
357  남오토코          0
311  파리바게뜨
346  파리바게뜨          0
493  매드포갈릭
496  매드포갈릭

        0
36   스타벅스
98   스타벅스
172  스타벅스
197  스타벅스
310  스타벅스
473  스타벅스